// debugging line
$debug-r: 1px solid red;
$debug-b: 1px solid lightblue;
$debug-o: 1px solid orange;


//other
$primary-color: #fff;
$secondary-color: #1c1d25;
$color-b: #4375ba;
$color-b-h: #4374bab2;
