.header {
  background: linear-gradient(0deg, rgb(28, 31, 31) 0%, rgb(28, 29, 37) 46%, rgb(28, 29, 37) 100%);
  color: #1c1d25;
}

.navbar {
  padding-top: 0;
  box-shadow: 0px 10px 8px 0px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.navbar .logo {
  width: 70px;
}
.navbar a {
  color: #ffffff;
}
.navbar .cv {
  border: 1px solid white;
  border-radius: 4px;
}

.navbar-dark {
  background-color: #1c1d25;
}

#icon {
  margin-top: 12px;
  width: 15px;
  cursor: pointer;
}